{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  
  <p><span class="label label-success">{{message}}</span></p>
  <p> 
      <a href="{{ path('insert')}}">{{'Fill in the data'|trans( {}, 'Modules.Migratorvmps.Admin') }}</a>
  </p>
  <p>
      <a href="{{ path('reset')}}">{{'Reset Data'|trans( {}, 'Modules.Migratorvmps.Admin') }}</a>
  </p> 
  <p>
      <a href="{{ path('insert_image')}}">{{'Fill in images'|trans( {}, 'Modules.Migratorvmps.Admin') }}</a>
  </p>
{% endblock %}
